.appointment-item {
    list-style-type: none;
    border-radius: 12px;
    border: 1px solid #b5b7c4;
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 5px;
  }
  
  @media screen and(min-width:768px) {
    .appointment-item {
      margin: 32px 16px 16px 32px;
      min-width: 297px;
    }
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .title {
    color: #171f46;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
  }
  .star-button {
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .star {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    align-self: center;
  }
  @media screen and (min-width: 768px) {
    .star {
      width: 24px;
      height: 24px;
    }
  }
  .date {
    color: #7e858e;
    margin: 0px;
    font-family: 'Roboto';
    font-size: 12px;
  }
  @media screen and (min-width: 768px) {
    .date {
      font-size: 16px;
    }
  }